.woocommerce {
	


	.woocommerce-input-wrapper {
		width:100%;
		display:block;
	}

}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	padding:.25rem;
	height:30px;
	border:1px solid #999 !important;
	background:#f0f0f0;
	border:0;
}

.woocommerce-form__label {
	color:blue;
}